@import '../../styles/colors.scss';
@import '../../styles/mixins.scss';

.container {
    width: 100%;
    min-height: 100vh;
    position: relative;
    .innerContainer {
        width: 55ch;
        margin: 0 auto;
        padding: 10rem 2rem 0;
        gap: 1rem;
        display: flex;
        flex-direction: column;
        .gridContainer {
            display: grid;
            grid-template-columns: repeat(2, minmax(0, 1fr));
            gap: 1rem;
            text-align: center;
            cursor: pointer;
            position: relative;
            padding-bottom: 4rem;
            @media(max-width: 470px) {
                grid-template-columns: repeat(1, minmax(0, 1fr));
            }
        }
    }
}