$bg-button-light: rgb(204 182 151);
$bg-card: rgba(215, 195, 169, .75);
$bg-card-showcase: rgba(234, 221, 204, .5);
$bg-navBar: #ffffff40;
$bg-white-light: rgba(255, 255, 255, 0.36);

$border-main: rgba(204, 183, 139, 1);
$border-active: #fff;
$border-light: rgba(251, 251, 251, 0.4);
$border-dark-low-opacity: rgba(0, 0, 0, .7);

$main-text: #4b3d25;
$main-text-black: #000;
$main-text-bold-dark: #8f6b3e;

$progress-bar: rgba(93, 102, 129, 1);

$links-color: #f3b500;
$links-hover: #fffd7857;

$button-dark-text: #8f754b;

$body-bg: rgb(240, 231, 219);