@font-face {
    font-family: 'MPlusBold';
    src: url('./fonts/MPLUSRounded1c-Bold.ttf');
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: 'MPlus';
    src: url('./fonts/MPLUSRounded1c-Regular.ttf');
    font-style: normal;
    font-weight: normal;
}